.about {
  background-color: $color-alice-blue;
}

.about__wrapper {
  padding-top: 58px;
  padding-left: 250px;
  padding-right: 0;
  padding-bottom: 92px;
  position: relative;

  @media (max-width: 1023px) {
    padding-top: 38px;
    padding-bottom: 60px;
    padding-left: 224px;
  }

  @media (max-width: 767px) {
    width: 320px;
    padding: 25px 25px 62px;
  }

}

.about__wrapper h2 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
  text-align: left;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  @media (max-width: 1023px) {
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 39px;
  }
}

.about__textblock p {
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  text-align: left;
  margin: 0;
  margin-bottom: 17px;

  @media (max-width: 1023px) {
    margin-bottom: 18px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
}

.about__textblock p span {
  @media (max-width: 767px) {
    display: none;
  }
}

.about__button-wrapper {
  padding: 24px 0;

  @media (max-width: 1023px) {
    padding: 20px 0;
  }

  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.about__button {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  padding: 14px 50px;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  background-color: transparent;

  @media (max-width: 767px) {
    padding: 8px 40px;
  }

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;
    color: $color-default-white;
  }

  &:active {
    opacity: 0.7;
  }
}

.about__wrapper::before {
  content: "";
  width: 150px;
  height: 320px;
  background-image: url(../../img/2022.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 58px;

  @media (max-width: 1023px) {
    left: 46px;
    top: 40px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.about__textblock {
  max-height: 167px;
  overflow: hidden;
  transition: max-height 0.255s ease-in;

  @media (max-width: 1023px) {
    max-height: 255px;
  }

  @media (max-width: 767px) {
    max-height: 220px;
  }
}
