.accordion {
  @media (max-width: 767px) {
    margin: 0 auto;

    & & {
      width: 90%;
      margin: 0;
    }

    &__element:last-child {
      margin-bottom: 0;
    }

    &__element {
      padding: 10px 0;
    }

    &__element.is-active > &__button {
      opacity: 0.5;
    }

    &__element.is-active > &__button::after {
      content: "";
      width: 15px;
      height: 1px;
      position: absolute;
      background-color: $color-alice-blue;
      right: 26px;
      top: 15px;
    }

    &__button {
      width: 100%;
      padding: 12px 26px;
      cursor: pointer;
    }

    &__wrapper {
      padding: 6px 8px 0 24px;
    }
  }
}
