.footer {
  width: 100%;
  background-color: $color-black-pearl;

}

.footer__wrapper {
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 0;
  padding-right: 30px;
  display: flex;

  @media (max-width: 1023px) {
    padding: 50px 45px 65px 50px;
    flex-direction: column;
    gap: 35px;
    max-height: 100%;
  }

  @media (max-width: 767px) {
    // width: 320px;
    padding-top: 35px;
    padding-bottom: 35px;
    max-height: 100%;
    gap: 24px;
    box-sizing: border-box;
  }
}

.footer__header-wrapper {
  margin-right: 160px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 215px;

  @media (max-width: 1023px) {
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  @media (max-width: 767px) {
    max-width: 270px;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
  }

}

.footer__navigation-wrapper {
  display: flex;
  column-gap: 30px;

  @media (max-width: 1023px) {
    column-gap: 126px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 0;
  }
}

.footer__navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer__social-wrapper {
  padding: 10px;
}

.footer__navigation-list-wrapper {
  // min-width: 470px;
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media (max-width: 1023px) {
    // min-width: 220px;
    flex-direction: column;
    gap: 6px;
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}

.footer__title {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.7;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 16px;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (max-width: 767px) {
    display: none;
  }
}

.footer__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__navigation-item {
  min-width: 220px;
  list-style: none;
  margin: 0;
}

.footer__contacts-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // min-width: 345px;
  gap: 6px;


  @media (max-width: 1023px) {
    // max-width: 320px;
  }

  @media (max-width: 767px) {
    // min-width: 288px;
    gap: 6px
  }
}

.footer__link {
  font-family: $ff-pt-mono;
  color: $color-default-white;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  text-align: left;
  font-style: normal;
  // min-width: 345px;

  @media (max-width: 1023px) {
    // min-width: 320px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    // min-width: 288px;
  }

}

.footer__link--phone {
  line-height: 25px;
}

.footer__link--address {
  @media (max-width: 767px) {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .footer__navigation::before {
    content: "";
    width: 336px;
    height: 1px;
    background-color: $color-alice-blue;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: -16px;
  }

  .footer__navigation::after {
    content: "";
    width: 336px;
    height: 1px;
    background-color: $color-alice-blue;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: -16px;
  }
}

.footer__contacts {
  position: relative;
  // max-width: 320;
}

@media (max-width: 767px) {
  .footer__contacts::after {
    content: "";
    width: 336px;
    height: 1px;
    background-color: $color-alice-blue;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: -16px;
  }
}

.footer__button {
  @media (min-width: 768px) {
    display: none;
  }
}

.footer__button {
  @media (max-width: 767px) {
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
    color: $color-default-white;
    background-color: transparent;
    position: relative;
  }
}

.footer__button::after {
  content: "";
  background-image: url(../../img/svg/union.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
}

.footer__button:hover,
.footer__button:focus {
  opacity: 0.5;
}
