.logo {
  padding: 5px 2px;
  width: 217px;
  height: 60px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 1px solid $color-alice-blue;
    border-radius: 3px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}
