.logo {
  width: 215px;
  height: 55px;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px $color-default-white;
    border-radius: 3px;
  }

  &:active {
    box-shadow: 0 0 0 1px $color-deep-sky-blue;
    border-radius: 3px;
  }
}
