.question-block {
  background-color: $color-deep-sky-blue;
  position: relative;
}

.question-block::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 840px solid $color-black-pearl;
  border-right: 968px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: 1023px) {
    display: none;
  }
}

.question-block__container::after {
  content: "";
  position: absolute;
  top: 246px;
  right: 1058px;
  background-image: url("../img/paper_airplane.png");
  background-repeat: no-repeat;
  width: 510px;
  height: 285px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/paper_airplane@2x.png");
    background-size: cover;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.question-block__wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 130px;
  padding-bottom: 248px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1240px;

  @media (max-width: 1023px) {
    padding: 36px 50px 126px;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    padding: 38px 25px 90px;
    justify-content: center;
  }
}

.question-block__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 18px;
  width: 50%;

  @media (max-width: 1023px) {
    width: 100%;
    padding: 0;
  }

  @media (max-width: 767px) {
    max-width: 270px;
    padding: 0;
  }
}

.question-block__title {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  padding: 6px 0 8px;

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 42px;
  }
}

.question-block__description {
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  padding: 0;
  margin-bottom: 35px;

  @media (max-width: 1023px) {
    margin-bottom: 24px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 34px;
  }
}
